footer
  .left-row
    .advertising
      h3 Advertising
    .business
      h3 Business
    .about
      h3 About
  .right-row
    .privacy
      h3 Privacy
    .terms
      h3 Terms
    .settings
      h3 Settings
    .link
      h3 Use Google.com
      