.wkFooter
  padding 1em 30px
  display: grid !important
  grid-template-columns: 1fr 1fr
  position: absolute
  bottom: 0
  color: rgb(180, 180, 180)
  font-size: small
  @media screen and (max-width: 600px)
    grid-template-columns: 1fr
    padding: 1em 0 !important
    width: 100%
    justify-items: center
  .left-row, .right-row
    display: grid 
  .left-row
    grid-template-columns: repeat(3, 100px)
  .right-row
    grid-template-columns: repeat(4, 100px)