footer 
  padding 1em 30px
  display: grid !important
  grid-template-columns: 1fr 1fr
  position: absolute
  bottom: 0
  color: rgb(180, 180, 180)
  font-size: small
  .left-row, .right-row
    display: grid 
  .left-row
    grid-template-columns: repeat(3, 0.5fr)
  .right-row
    grid-template-columns: repeat(4, 1fr)