.search-wrapper
  padding: 1em 30px
  *
    color: rgb(180, 180, 180)
  .wkFooter
    position: relative
  .body-section
    .search-row
      display: grid
      grid-template-columns: 10% 90%
      .logo
        align-self: center
        justify-self: end
        padding-right: 30px        
        img 
          width: 44px
          height: 44px
          content: url('../../assets/google.png')
      .logo:hover
        cursor: pointer
  .search-results
    .card-container
      md-list
        md-list-item
          md-card
            width: 100%