.header-section
  display: grid 
  grid-template-columns: 5fr 1fr
  .right-row
    display: grid
    grid-template-columns: repeat(4, 1fr)
    color: rgb(180, 180, 180)
    font-size: small
    .notification-menu
      justify-self: right
    .account-menu
      justify-self: center