.header-section
  .left-row
    .hamburger-menu
      md-icon(md-font-set="material-icons") menu
  .right-row
    .gmail-link
      | Gmail
    .images-link
      | Images
    .notification-menu
      md-icon(md-font-set="material-icons") notifications
    .account-menu
      md-icon(md-font-set="material-icons") account_circle